<ion-content padding>

	<ion-item>
		<ion-label>Numéro</ion-label>
		<ion-input type="number" name="coop-number" [(ngModel)]="coop.number"></ion-input>
	</ion-item>

	<button ion-button full (tap)="send()">Envoyé</button>

</ion-content>
